<div style="background-color: #6610f2;">
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-2 mb-4">
            <!-- logo -->
            <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            </a>

            <!-- links -->
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a routerLink='home' class="nav-link px-3 link-light">Inicio</a></li>
                <li><a routerLink='product' class="nav-link px-3 link-light">Catálogo</a></li>
                <li><a routerLink='' class="nav-link px-3 link-light">Nosotros</a></li>
                <li><a routerLink='' class="nav-link px-3 link-light">Contacto</a></li>
            </ul>

            <!-- botón admin -->
            <div class="col-md-3 text-end">
                <button type="button" class="btn btn-outline-light">Admin</button>
            </div>
        </header>
    </div>
</div>