<div uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-dark; top: 200">
    <div class="uk-position-top uk-padding-small">
        <nav class="uk-navbar-container uk-padding-small uk-padding-remove-top uk-padding-remove-bottom" style="border-radius: 5px;" uk-navbar>
            <div class="uk-navbar-left">
                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a routerLink="home" class="uk-text-large">Incio</a></li>
                </ul>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li class="uk-active "><a routerLink="faq">Preguntas Frecuentes</a></li>
                    <li class="uk-active"><a routerLink="product">Productos</a></li>
                    <li class="uk-active"><a routerLink="admin"><span uk-icon="icon:lock; ratio .8"></span></a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>