<div uk-height-viewport="expand: true">
    <div class="uk-padding-large uk-padding-remove-horizontal uk-padding-remove-bottom">
        <div class="uk-section uk-padding-large uk-padding-horizontal-remove uk-section-overlap">
            <div class="uk-container">
                <h1 class="uk-heading-small uk-text-bold uk-text-uppercase uk-text-middle uk-text-center bg-danger text-light bg-gradient" style="--bs-bg-opacity: .85;">Administración</h1>
            </div>
            <div class="uk-divider-icon"></div>
            <div class="uk-container">
                <div class="uk-grid-match uk-child-width-expand@s" uk-grid>
                    <div>
                        <div class="uk-text-decoration-none uk-text-center">
                            <div class="uk-card uk-card-default uk-card-hover uk-card-height-small uk-card-body">
                                <p class="uk-text-large">Preguntas Frecuentes</p>
                                <div class="uk-divider-icon"></div>
                                <button type="button" class="uk-button uk-button-danger uk-width-1-1" data-bs-toggle="modal" data-bs-target="#modalFAQ">
                                    Configurar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>