//Custom SCSS/SASS
@import 'variables';
@import 'mixins';
@import 'custom';
//UIKit
@import "variables-theme.scss";
@import "mixins-theme.scss";
@import "uikit-theme.scss";
//ToastR
@import '~ngx-toastr/toastr';
//HOVERS
.hover_link {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgb(0 0 0 / 0%);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hover_link:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.hover_img {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0) translateY(50px);
    transform: perspective(1px) translateZ(0) translateY(50px);
    box-shadow: 0 0 1px rgb(0 0 0 / 0%);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hover_img:hover {
    -webkit-transform: scale(2);
    transform: scale(2);
}

.hover_product {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0) translateY(50px);
    box-shadow: 0 0 1px rgb(0 0 0 / 0%);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hover_product:hover {
    -webkit-transform: scale(2);
    transform: scale(2);
}

//CUSTOM SCROLLBAR
* {
    scrollbar-width: thin;
    scrollbar-color: rgb(201, 201, 201);
}


/* FUNCIONA EN CHROME, EDGE Y FIREFOX */

*::-webkit-scrollbar {
    width: .7em;
}

*::-webkit-scrollbar-track {
    background: rgb(201, 201, 201);
}

*::-webkit-scrollbar-thumb {
    background-color: #242327;
    transition: background-color 2s;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #413f46;
}

// ALTURAS CUSTOM 
.custom-max-height75 {
    max-height: 75px
}

.custom-max-height100 {
    max-height: 100px
}

.custom-max-height250 {
    height: 200px;
    border-radius: 5px
}

.custom-height100 {
    height: 100px;
    border-radius: 5px
}

//SALTO DE LINEAS
.whitespace {
    white-space: pre-line;
}

// IMG FILL 
.imgfill {
    object-fit: scale-down;
}

.rainbow {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    text-shadow: -4px 2px #ef3550, -6px 3px #e1e44b, -8px 4px #60c257, -10px 5px #2196f3, -12px 6px #5c26da;
}