<div class="uk-section uk-padding-remove uk-background-secondary">
    <div class="uk-container">
        <div class="uk-panel uk-margin-medium">
            <h2> Administración</h2>
        </div>
        <div class="uk-grid-match uk-child-width-expand@s" uk-grid>
            <div>
                <div class="uk-text-decoration-none uk-text-center">
                    <div class="uk-card uk-card-default uk-card-body uk-text-center uk-height-small uk-card-hover">
                        <p class="uk-text-large">Preguntas Frecuentes</p>
                        <button type="button" class="uk-button uk-button-danger uk-width-1-1" data-bs-toggle="modal" data-bs-target="#modalFAQ">
                    Configurar
                </button>
                    </div>
                </div>
            </div>
            <div>
                <a routerLink="/faq" class="uk-text-decoration-none">
                    <div class="uk-card uk-card-default uk-card-body uk-text-center uk-height-small uk-card-hover">
                        <p class="uk-text-large">Inicio</p>
                    </div>
                </a>
            </div>
            <div>
                <a routerLink="/faq" class="uk-text-decoration-none">
                    <div class="uk-card uk-card-default uk-card-body uk-text-center uk-height-small uk-card-hover">
                        <p class="uk-text-large">Contacto</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="uk-grid-match uk-child-width-expand@s" uk-grid>
            <div>
                <a routerLink="/faq" class="uk-text-decoration-none">
                    <div class="uk-card uk-card-default uk-card-body uk-text-center">
                        <p class="uk-text-large">Productos</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>


<!--MODAL FAQ-->
<div class="modal fade" id="modalFAQ" tabindex="-1" aria-labelledby="faqLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-dark" id="faqLabel">Editar preguntas frecuentes</h5>
            </div>
            <div class="modal-body" uk-sortable>
                <div class="uk-card uk-card-default uk-card-body uk-text-center uk-card-hover uk-margin-bottom" *ngFor="let pregunta of preguntas">
                    <p>{{pregunta.title}} | {{pregunta.id}}</p>
                    <button class="uk-button uk-button-primary"><span uk-icon="icon: pencil; ratio: 1.2"></span></button>
                    <button class="uk-button uk-button-primary" (click)="deleteFAQ(pregunta.id)"><span uk-icon="icon: close; ratio: 1.2"></span></button>

                </div>
            </div>
            <div class="modal-footer">
                <div class="container">
                    <div class="row uk-margin-small-bottom"><button type="button" class="uk-button uk-button-primary uk-width-1-" data-bs-target="#modalFAQagregar" data-bs-toggle="modal">Agregar</button></div>
                    <div class="row"><button type="button" class="uk-button uk-button-danger uk-width-1-" data-bs-dismiss="modal">Cerrar</button></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--MODAL FAQ AGREGAR-->
<div class="modal fade" id="modalFAQagregar" tabindex="-1" aria-labelledby="faqLabelAgregar" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-dark" id="faqLabelAgregar">Agregar nueva pregunta</h5>
            </div>
            <div class="modal-body">
                <form action="" [formGroup]="formularioFAQ" (ngSubmit)="aceptarFAQ()">
                    <label for="title" class="text-dark">Nombre</label>
                    <input type="text" name="" id="title" class="form-control" formControlName="title" placeholder="Pregunta Nro..."><br>
                    <label for="description" class="text-dark">Descripción</label>
                    <input type="text" name="" id="description" class="form-control" formControlName="description" placeholder="Descripción de la pregunta..."><br>
                    <hr>
                    <button data-bs-dismiss="modal" class="btn btn-primary">aceptar</button>
                </form>
            </div>
        </div>
    </div>
</div>