<div class="gridCss">
    <div class="gridItemCss" *ngFor="let product of products">
        <div class="image">
            <img class="img-container" [src]="product.img" alt="">
        </div>
        <div>
            <p class="name-container">{{product.name}}</p>
        </div>
        <div class="container__buttons">
            <!-- <button class="btn btn-primary container-fluid" style="margin-bottom: 1%;" [routerLink]="['/editp',product.id]">editar</button>
            <button class="btn btn-primary container-fluid" (click)="delete(product.id)">eliminar</button> -->
            <button type="button" class="btn btn-primary container-fluid" data-bs-toggle="modal" data-bs-target="#productModal" (click)="SeleccionarProducto(product)">
                Ver más
            </button>
        </div>
    </div>
</div>

<div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title name-container" id="productModalLabel">{{SelectedProduct.name}}</h5>
            </div>
            <div class="modal-body">
                <div class="image">
                    <img class="img-container" [src]="SelectedProduct.img" alt="">
                </div>
                <br>
                <div>
                    <h3 class="name-container">Precio</h3>
                    <p class="price-container">{{SelectedProduct.price | currency}}</p>
                    <h3 class="name-container">Tamaño</h3>
                    <p class="price-container">{{SelectedProduct.size}}</p>
                    <h3 class="name-container">Descripción</h3>
                    <p class="price-container">{{SelectedProduct.description}}</p>
                    <!--test-->
                    <p>{{SelectedProduct.id}}</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>