<div>
    <app-carousel></app-carousel>
</div>
<div uk-height-viewport="expand: true">
    <div class="uk-padding-large uk-padding-remove-horizontal uk-padding-remove-bottom">
        <div class="uk-section uk-padding-large uk-padding-horizontal-remove ">
            <div class="uk-container text-dark">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam exercitationem iusto aperiam at, sapiente aspernatur itaque ex impedit amet deleniti in excepturi dignissimos similique et, velit ab! Similique, libero ullam!</p>


            </div>
        </div>
    </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br>