<footer class="uk-margin-top">
    <div class="uk-container-expand uk-padding-remove">
        <div class="uk-text-center uk-grid-collapse uk-grid-match" uk-grid>

            <div class="uk-width-expand@m footer_height">
                <div class="uk-card bg-danger uk-card-body uk-padding-remove uk-flex uk-flex-center uk-flex-middle">
                    <div class="uk-flex uk-flex-around uk-width-1-1 uk-padding-small uk-padding-remove text-light" uk-grid style="margin: none">
                        <div class="uk-width-1-6">
                            <p class="uk-text-lead text-light uk-text-default">Links útiles:</p>
                        </div>
                        <div class="hover_link"><a routerLink="home" class="uk-text-decoration-none text-light">Inicio</a></div>
                        <div class="hover_link"><a routerLink="home" class="uk-text-decoration-none text-light">Preguntas Frecuentes</a></div>
                        <div class="hover_link"><a routerLink="home" class="uk-text-decoration-none text-light">Productos</a></div>
                    </div>
                </div>
            </div>

            <div class="uk-divider-vertical uk-divider-icon footer_height"></div>

            <div class="uk-width-1-5@m footer_height">
                <div class="uk-card bg-danger uk-card-body uk-padding-remove uk-flex uk-flex-center uk-flex-middle" style="--bs-bg-opacity: .75;">
                    <p class="uk-text-small">Hecho por <a class="uk-text-lead uk-button-link uk-text-capitalize uk-text-decoration-none uk-text-small" href="https://www.twitter.com/GianGNGKS"> Gianfranco Gallucci</a>.</p>
                </div>
            </div>

        </div>
    </div>
</footer>