<footer class="uk-margin-top">
    <div class="uk-container-expand uk-padding-remove">
        <div class="uk-text-center uk-grid-collapse uk-grid-match" uk-grid>

            <div class="uk-width-expand@m footer_height">
                <div class="uk-card bg-danger uk-card-body uk-padding-remove uk-flex uk-flex-center uk-flex-middle">
                    <div class="uk-flex uk-flex-around uk-width-1-1 uk-padding-small uk-padding-remove" uk-grid style="margin: none">
                        <div></div>
                        <div><a>aaa</a></div>
                        <div><a>aaa</a></div>
                        <div><a>aaa</a></div>
                        
                    </div>
                </div>
            </div>

            <div class="uk-divider-vertical uk-divider-icon footer_height"></div>

            <div class="uk-width-1-4@m footer_height">
                <div class="uk-card bg-danger uk-card-body uk-padding-remove uk-flex uk-flex-center uk-flex-middle" style="--bs-bg-opacity: .75;"><p class="uk-text-small">Hecho por <button class="uk-button uk-button-link" href="https://www.twitter.com/GianGNGKS">Gianfranco Gallucci</button>.</p></div>
            </div>

        </div>
    </div>
</footer>